.containerHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    
  }
.container{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
  }
  
  .containerHeader > section {
    margin-top: 90px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
