.h1, .h2{
    padding: 15px;
    font-family:'Roboto', sans-serif;
    color:rgb(137, 43, 226);
}

.h1{
    font-size: 3.5rem;
}

.h2{
    font-size: 1.5rem;
}

.container{
    display: flex;
    margin-left: 150px;
    align-items:flex-start;
    flex-direction: column;
}